PORT=3000
TRANSPORT_PORT=4000
JWT_SECRET_KEY=your-secret-key
JWT_EXPIRATION_TIME=3600

# Database envioroment variables
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_NAME=databasename

